@percent: 100;
@card-width: 238px * (@percent/100);
@card-height: 332px * (@percent/100);
body {
    background-color: #ddd;
    margin: 0;
}
.zone {
    width: 100%;
    height: @card-height*1.1;
    display: block;
    overflow: auto;
}
.card {
    display: inline-block;
    width: @card-width;
    height: @card-height;
    background-color: #000;
    border-radius: @card-width/20;
}
